/* css cua thumbnail */

body {
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#BangXepHang {
    width: 80%;
    margin: auto;
}

div.videothumbnail {
    float: left;
    margin: 5px;
    width: 380px;
    height: 330px;
}

div.videothumbnail:hover {
    transform: scale(1.03);
}

div.videothumbnail img {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

span.desc {
    margin: auto;
    color: white;
    display: table;
}

.vungChon:hover {
    cursor: pointer;
}


/* css cua modal  */

body {
    margin: 2rem;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 5rem;
    font-weight: normal;
    color: white;
    opacity: 1;
}


/* css khac */

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    width: 100%;
}