/* css cua thumbnail */

body {
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1537210249814-b9a10a161ae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#BangXepHang {
    width: 80%;
    margin: auto;
}

div.videothumbnail {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 380px;
    height: 340px;
}

div.videothumbnail:hover {
    border: 1px solid #777;
}

div.videothumbnail img {
    width: 100%;
    height: auto;
}

div.desc {
    text-align: center;
    height: 100%;
    width: 100%;
    height: 100%;
}

.vungChon:hover {
    cursor: pointer;
}


/* css cua modal  */

body {
    margin: 2rem;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 5rem;
    font-weight: normal;
    color: white;
    opacity: 1;
}