h1 {
    color: white;
    height: 800px;
    font-size: 250px;
    text-align: center;
}

#txtvideo {
    width: 80%;
    margin: auto;
    text-align: center;
}

body {
    background-image: url('https://images.unsplash.com/photo-1508600050205-0d3488dea0b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.button {
    width: 10%;
}

div.videothumbnail {
    margin: 5px;
    width: 360px;
    height: 320px;
    display: inline-block;
    position: relative;
}

div.videothumbnail:hover {
    transform: scale(1.04);
}

div.videothumbnail img {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
}

span.desc {
    text-align: center;
    margin: auto;
    display: table;
    color: white;
}

.vungChon:hover {
    cursor: pointer;
}


/* css cua modal  */

body {
    margin: 2rem;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 5rem;
    font-weight: normal;
    color: white;
    opacity: 1;
}