#line {
    border: 1px solid;
    color: white;
}

.image {
    background-image: url('https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.button {
    margin-left: 10px;
    margin-top: 10px;
    width: 10%;
}

.text-genre a {
    text-decoration: none;
    margin-left: 10px;
}

.menu-genre-inner {
    /* background-color: whitesmoke; */
    /* border: 1px solid black; */
    text-align: center;
}

.list {
    text-decoration: none;
    color: white;
}

.menu-genre-inner .menu-list ul {
    display: block;
    text-align: center;
}

.menu-genre-inner .menu-list {
    display: inline-block;
}

.menu-genre-inner .menu-list ul li {
    display: inline-block;
}

div.videothumbnail {
    margin: 5px;
    width: 340px;
    height: 300px;
    display: inline-block;
    position: relative;
}

div.videothumbnail:hover {
    transform: scale(1.04);
}

div.desc:hover {
    color: black;
}

div.videothumbnail img {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
}

div.desc {
    text-align: center;
    margin: auto;
    display: table;
    color: white;
}

.vungChon:hover {
    cursor: pointer;
}


/* css cua modal  */

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 5rem;
    font-weight: normal;
    color: white;
    opacity: 1;
}