#container {
    width: 80%;
    margin: auto;
    /* Để dễ nhìn */
    height: 500px;
    border: 1px solid black;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

/* display: block / inline-block;  để hiện lên */